.vscode
*cache*

# transforemers
checkpoint*

# pip
build
dist

# pixi environments
.pixi
*.egg-info

*.so

.venv
__pycache__

tests/*_test

# ignore them for now
datasets
resources
#scripts
nohup.out